- @lists.each do |list|
  .col-md-4.col-xs-4
    .panel.panel-default
      .panel-heading
        = link_to list.title, list, class: 'link title'
        = link_to ' ', list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash'
        = link_to ' ', edit_list_path(list), class: 'fa fa-pencil'
      .panel-body
        = list.description