/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'Stellar';
    font-weight: normal;
  	font-style: normal;
  	src: font-url('stellar-light-webfont.eot');
    src: font-url(font-path('stellar-light-webfont.eot') + "?#iefix") format('embedded-opentype'),
         font-url(font-path('stellar-light-webfont.woff')) format('woff'), 
         font-url(font-path('stellar-light-webfont.ttf'))  format('truetype'),
         font-url(font-path('stellar-light-webfont.svg') + "#MyFont") format('svg');
}

body{
	font-family: 'Stellar';
	background: #9ac5ca;
}
.navbar{
	background: #323232;
	color: #f2f6f9;
	border-color: #f2f6f9;
}
.navbar-default {
  border-color: transparent;
}
.link{
	color: #dbdada !important;

	&:hover{
	color: #b7b5b5 !important;
	text-decoration: none;;
	}
}

.link-main{
	color: #8FBFC5;

	&:hover{
	color: #8FBFC5;
	text-decoration: none;
	}
}

.panel{
	border: transparent;
}
.panel-heading{
	text-transform: uppercase;
	background-color: #323232 !important;
	text-decoration: none;
	border-color: transparent !important;
}
.panel-body{
	background-color: #bbd8dc !important;
	font-size: 18px;
	font-style: italic;
}
.fa.fa-trash, .fa.fa-pencil, .fa.fa-times{
	text-decoration: none;
	color: #dbdada;
	float: right;
	text-align: center;
	padding-left: 8px;

	&:hover{
	color: #b7b5b5;
	}
}

.fa.fa-tasks{
	color: #dbdada;
	float: left;
}
.title{
	color: #dbdada;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}
.task{
	border: 2px solid #bbd8dc;
	background-color: #9ac5ca;
	height: 40px;
	padding: 15px;
	position: relative;
	display: table;
	width: 100%;
	vertical-align: middle;
	&:hover{
		background-color: #679da4;
	}
}
.task-add{
	text-align: center;
	padding: 20px;
}
.item {
	font-size: 20px;
	padding: 10px;
	.item-text{
		float: left;
		text-align: center;
		color: #f9fbfc;
		font-size: 18px;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		max-width: 500px;
	}
	.icon-trash{
		float: right;
	}
}
.task-field{
	width: 300px;
	height: 35px;
	margin: .5em 2% 1em 0;
	background-color: #bbd8dc;
	border: 1px solid #bbd8dc;
	color: #0e1313;
	border-radius: 3px;

	
}
.task-field:focus{
		border: 1px solid #bbd8dc;
		outline: none;
	}
.add-button{
	height: 35px;
	background-color: #bbd8dc;
	width: 75px;
	border: 1px solid #bbd8dc;
	border-radius: 3px;
	color: #2e4649;

	&:hover{
		background-color: #c7dfe2;
	}

}
.pagination-align{
	text-align: center;
}

.pagination > li > a{
	color: #2e4649;
	background-color: #bbd8dc;
	border: 1px solid #bbd8dc;
	&:hover{
		background-color: #bbd8dc;
		border: 1px solid #bbd8dc;
	}
}
.pagination > .active > span,
.pagination > .active > span:hover{
	background-color: #a5cbd0;
	border-color: #bbd8dc;
	color: #2e4649;
}
.pagination > .disabled> span,
.pagination > .disabled > span:hover{
	background-color: #c7dfe2;
	border-color: #bbd8dc;
}